In [2]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import csv
plt.rcParams['figure.figsize'] = [10, 7]

In [4]:
import pandas as pd

Load up the data as a numpy array

In [7]:
test = pd.read_csv('/Users/jains/Downloads/Neural-Network-with-Keras-for-Kaggle-Titanic-Dataset-master/data/test.csv')
train = pd.read_csv('/Users/jains/Downloads/Neural-Network-with-Keras-for-Kaggle-Titanic-Dataset-master/data/train.csv')

In [6]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [9]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
test.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [47]:
dtype = [
    ('PassengerId', np.int64),
    ('Pclass', np.int64),
    ('Name', np.object_),
    ('Sex', np.object_),
    ('Age', np.float64),
    ('SibSp', np.int64),
    ('Parch', np.int64),
    ('Ticket', np.object_),
    ('Fare', np.float64),
    ('Cabin', np.object_),
    ('Embarked', np.object_),
]

In [19]:
test.shape

(418, 11)

In [48]:
a = np.empty(test.shape[0], dtype=dtype)

In [52]:
for r in test:
    a[r] = test[r]

In [53]:
a

array([( 892, 3, 'Kelly, Mr. James', 'male', 34.5 , 0, 0, '330911',   7.8292, nan, 'Q'),
       ( 893, 3, 'Wilkes, Mrs. James (Ellen Needs)', 'female', 47.  , 1, 0, '363272',   7.    , nan, 'S'),
       ( 894, 2, 'Myles, Mr. Thomas Francis', 'male', 62.  , 0, 0, '240276',   9.6875, nan, 'Q'),
       ( 895, 3, 'Wirz, Mr. Albert', 'male', 27.  , 0, 0, '315154',   8.6625, nan, 'S'),
       ( 896, 3, 'Hirvonen, Mrs. Alexander (Helga E Lindqvist)', 'female', 22.  , 1, 1, '3101298',  12.2875, nan, 'S'),
       ( 897, 3, 'Svensson, Mr. Johan Cervin', 'male', 14.  , 0, 0, '7538',   9.225 , nan, 'S'),
       ( 898, 3, 'Connolly, Miss. Kate', 'female', 30.  , 0, 0, '330972',   7.6292, nan, 'Q'),
       ( 899, 2, 'Caldwell, Mr. Albert Francis', 'male', 26.  , 1, 1, '248738',  29.    , nan, 'S'),
       ( 900, 3, 'Abrahim, Mrs. Joseph (Sophie Halaut Easu)', 'female', 18.  , 0, 0, '2657',   7.2292, nan, 'C'),
       ( 901, 3, 'Davies, Mr. John Samuel', 'male', 21.  , 2, 0, 'A/4 48871',  24.15  , nan, 'S'),
       ( 902, 3, 'Ilieff, Mr. Ylio', 'male',   nan, 0, 0, '349220',   7.8958, nan, 'S'),
       ( 903, 1, 'Jones, Mr. Charles Cresson', 'male', 46.  , 0, 0, '694',  26.    , nan, 'S'),
       ( 904, 1, 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)', 'female', 23.  , 1, 0, '21228',  82.2667, 'B45', 'S'),
       ( 905, 2, 'Howard, Mr. Benjamin', 'male', 63.  , 1, 0, '24065',  26.    , nan, 'S'),
       ( 906, 1, 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)', 'female', 47.  , 1, 0, 'W.E.P. 5734',  61.175 , 'E31', 'S'),
       ( 907, 2, 'del Carlo, Mrs. Sebastiano (Argenia Genovesi)', 'female', 24.  , 1, 0, 'SC/PARIS 2167',  27.7208, nan, 'C'),
       ( 908, 2, 'Keane, Mr. Daniel', 'male', 35.  , 0, 0, '233734',  12.35  , nan, 'Q'),
       ( 909, 3, 'Assaf, Mr. Gerios', 'male', 21.  , 0, 0, '2692',   7.225 , nan, 'C'),
       ( 910, 3, 'Ilmakangas, Miss. Ida Livija', 'female', 27.  , 1, 0, 'STON/O2. 3101270',   7.925 , nan, 'S'),
       ( 911, 3, 'Assaf Khalil, Mrs. Mariana (Miriam")"', 'female', 45.  , 0, 0, '2696',   7.225 , nan, 'C'),
       ( 912, 1, 'Rothschild, Mr. Martin', 'male', 55.  , 1, 0, 'PC 17603',  59.4   , nan, 'C'),
       ( 913, 3, 'Olsen, Master. Artur Karl', 'male',  9.  , 0, 1, 'C 17368',   3.1708, nan, 'S'),
       ( 914, 1, 'Flegenheim, Mrs. Alfred (Antoinette)', 'female',   nan, 0, 0, 'PC 17598',  31.6833, nan, 'S'),
       ( 915, 1, 'Williams, Mr. Richard Norris II', 'male', 21.  , 0, 1, 'PC 17597',  61.3792, nan, 'C'),
       ( 916, 1, 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)', 'female', 48.  , 1, 3, 'PC 17608', 262.375 , 'B57 B59 B63 B66', 'C'),
       ( 917, 3, 'Robins, Mr. Alexander A', 'male', 50.  , 1, 0, 'A/5. 3337',  14.5   , nan, 'S'),
       ( 918, 1, 'Ostby, Miss. Helene Ragnhild', 'female', 22.  , 0, 1, '113509',  61.9792, 'B36', 'C'),
       ( 919, 3, 'Daher, Mr. Shedid', 'male', 22.5 , 0, 0, '2698',   7.225 , nan, 'C'),
       ( 920, 1, 'Brady, Mr. John Bertram', 'male', 41.  , 0, 0, '113054',  30.5   , 'A21', 'S'),
       ( 921, 3, 'Samaan, Mr. Elias', 'male',   nan, 2, 0, '2662',  21.6792, nan, 'C'),
       ( 922, 2, 'Louch, Mr. Charles Alexander', 'male', 50.  , 1, 0, 'SC/AH 3085',  26.    , nan, 'S'),
       ( 923, 2, 'Jefferys, Mr. Clifford Thomas', 'male', 24.  , 2, 0, 'C.A. 31029',  31.5   , nan, 'S'),
       ( 924, 3, 'Dean, Mrs. Bertram (Eva Georgetta Light)', 'female', 33.  , 1, 2, 'C.A. 2315',  20.575 , nan, 'S'),
       ( 925, 3, 'Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"', 'female',   nan, 1, 2, 'W./C. 6607',  23.45  , nan, 'S'),
       ( 926, 1, 'Mock, Mr. Philipp Edmund', 'male', 30.  , 1, 0, '13236',  57.75  , 'C78', 'C'),
       ( 927, 3, 'Katavelas, Mr. Vassilios (Catavelas Vassilios")"', 'male', 18.5 , 0, 0, '2682',   7.2292, nan, 'C'),
       ( 928, 3, 'Roth, Miss. Sarah A', 'female',   nan, 0, 0, '342712',   8.05  , nan, 'S'),
       ( 929, 3, 'Cacic, Miss. Manda', 'female', 21.  , 0, 0, '315087',   8.6625, nan, 'S'),
       ( 930, 3, 'Sap, Mr. Julius', 'male', 25.  , 0, 0, '345768',   9.5   , nan, 'S'),
       ( 931, 3, 'Hee, Mr. Ling', 'male',   nan, 0, 0, '1601',  56.4958, nan, 'S'),
       ( 932, 3, 'Karun, Mr. Franz', 'male', 39.  , 0, 1, '349256',  13.4167, nan, 'C'),
       ( 933, 1, 'Franklin, Mr. Thomas Parham', 'male',   nan, 0, 0, '113778',  26.55  , 'D34', 'S'),
       ( 934, 3, 'Goldsmith, Mr. Nathan', 'male', 41.  , 0, 0, 'SOTON/O.Q. 3101263',   7.85  , nan, 'S'),
       ( 935, 2, 'Corbett, Mrs. Walter H (Irene Colvin)', 'female', 30.  , 0, 0, '237249',  13.    , nan, 'S'),
       ( 936, 1, 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)', 'female', 45.  , 1, 0, '11753',  52.5542, 'D19', 'S'),
       ( 937, 3, 'Peltomaki, Mr. Nikolai Johannes', 'male', 25.  , 0, 0, 'STON/O 2. 3101291',   7.925 , nan, 'S'),
       ( 938, 1, 'Chevre, Mr. Paul Romaine', 'male', 45.  , 0, 0, 'PC 17594',  29.7   , 'A9', 'C'),
       ( 939, 3, 'Shaughnessy, Mr. Patrick', 'male',   nan, 0, 0, '370374',   7.75  , nan, 'Q'),
       ( 940, 1, 'Bucknell, Mrs. William Robert (Emma Eliza Ward)', 'female', 60.  , 0, 0, '11813',  76.2917, 'D15', 'C'),
       ( 941, 3, 'Coutts, Mrs. William (Winnie Minnie" Treanor)"', 'female', 36.  , 0, 2, 'C.A. 37671',  15.9   , nan, 'S'),
       ( 942, 1, 'Smith, Mr. Lucien Philip', 'male', 24.  , 1, 0, '13695',  60.    , 'C31', 'S'),
       ( 943, 2, 'Pulbaum, Mr. Franz', 'male', 27.  , 0, 0, 'SC/PARIS 2168',  15.0333, nan, 'C'),
       ( 944, 2, 'Hocking, Miss. Ellen Nellie""', 'female', 20.  , 2, 1, '29105',  23.    , nan, 'S'),
       ( 945, 1, 'Fortune, Miss. Ethel Flora', 'female', 28.  , 3, 2, '19950', 263.    , 'C23 C25 C27', 'S'),
       ( 946, 2, 'Mangiavacchi, Mr. Serafino Emilio', 'male',   nan, 0, 0, 'SC/A.3 2861',  15.5792, nan, 'C'),
       ( 947, 3, 'Rice, Master. Albert', 'male', 10.  , 4, 1, '382652',  29.125 , nan, 'Q'),
       ( 948, 3, 'Cor, Mr. Bartol', 'male', 35.  , 0, 0, '349230',   7.8958, nan, 'S'),
       ( 949, 3, 'Abelseth, Mr. Olaus Jorgensen', 'male', 25.  , 0, 0, '348122',   7.65  , 'F G63', 'S'),
       ( 950, 3, 'Davison, Mr. Thomas Henry', 'male',   nan, 1, 0, '386525',  16.1   , nan, 'S'),
       ( 951, 1, 'Chaudanson, Miss. Victorine', 'female', 36.  , 0, 0, 'PC 17608', 262.375 , 'B61', 'C'),
       ( 952, 3, 'Dika, Mr. Mirko', 'male', 17.  , 0, 0, '349232',   7.8958, nan, 'S'),
       ( 953, 2, 'McCrae, Mr. Arthur Gordon', 'male', 32.  , 0, 0, '237216',  13.5   , nan, 'S'),
       ( 954, 3, 'Bjorklund, Mr. Ernst Herbert', 'male', 18.  , 0, 0, '347090',   7.75  , nan, 'S'),
       ( 955, 3, 'Bradley, Miss. Bridget Delia', 'female', 22.  , 0, 0, '334914',   7.725 , nan, 'Q'),
       ( 956, 1, 'Ryerson, Master. John Borie', 'male', 13.  , 2, 2, 'PC 17608', 262.375 , 'B57 B59 B63 B66', 'C'),
       ( 957, 2, 'Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)', 'female',   nan, 0, 0, 'F.C.C. 13534',  21.    , nan, 'S'),
       ( 958, 3, 'Burns, Miss. Mary Delia', 'female', 18.  , 0, 0, '330963',   7.8792, nan, 'Q'),
       ( 959, 1, 'Moore, Mr. Clarence Bloomfield', 'male', 47.  , 0, 0, '113796',  42.4   , nan, 'S'),
       ( 960, 1, 'Tucker, Mr. Gilbert Milligan Jr', 'male', 31.  , 0, 0, '2543',  28.5375, 'C53', 'C'),
       ( 961, 1, 'Fortune, Mrs. Mark (Mary McDougald)', 'female', 60.  , 1, 4, '19950', 263.    , 'C23 C25 C27', 'S'),
       ( 962, 3, 'Mulvihill, Miss. Bertha E', 'female', 24.  , 0, 0, '382653',   7.75  , nan, 'Q'),
       ( 963, 3, 'Minkoff, Mr. Lazar', 'male', 21.  , 0, 0, '349211',   7.8958, nan, 'S'),
       ( 964, 3, 'Nieminen, Miss. Manta Josefina', 'female', 29.  , 0, 0, '3101297',   7.925 , nan, 'S'),
       ( 965, 1, 'Ovies y Rodriguez, Mr. Servando', 'male', 28.5 , 0, 0, 'PC 17562',  27.7208, 'D43', 'C'),
       ( 966, 1, 'Geiger, Miss. Amalie', 'female', 35.  , 0, 0, '113503', 211.5   , 'C130', 'C'),
       ( 967, 1, 'Keeping, Mr. Edwin', 'male', 32.5 , 0, 0, '113503', 211.5   , 'C132', 'C'),
       ( 968, 3, 'Miles, Mr. Frank', 'male',   nan, 0, 0, '359306',   8.05  , nan, 'S'),
       ( 969, 1, 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)', 'female', 55.  , 2, 0, '11770',  25.7   , 'C101', 'S'),
       ( 970, 2, 'Aldworth, Mr. Charles Augustus', 'male', 30.  , 0, 0, '248744',  13.    , nan, 'S'),
       ( 971, 3, 'Doyle, Miss. Elizabeth', 'female', 24.  , 0, 0, '368702',   7.75  , nan, 'Q'),
       ( 972, 3, 'Boulos, Master. Akar', 'male',  6.  , 1, 1, '2678',  15.2458, nan, 'C'),
       ( 973, 1, 'Straus, Mr. Isidor', 'male', 67.  , 1, 0, 'PC 17483', 221.7792, 'C55 C57', 'S'),
       ( 974, 1, 'Case, Mr. Howard Brown', 'male', 49.  , 0, 0, '19924',  26.    , nan, 'S'),
       ( 975, 3, 'Demetri, Mr. Marinko', 'male',   nan, 0, 0, '349238',   7.8958, nan, 'S'),
       ( 976, 2, 'Lamb, Mr. John Joseph', 'male',   nan, 0, 0, '240261',  10.7083, nan, 'Q'),
       ( 977, 3, 'Khalil, Mr. Betros', 'male',   nan, 1, 0, '2660',  14.4542, nan, 'C'),
       ( 978, 3, 'Barry, Miss. Julia', 'female', 27.  , 0, 0, '330844',   7.8792, nan, 'Q'),
       ( 979, 3, 'Badman, Miss. Emily Louisa', 'female', 18.  , 0, 0, 'A/4 31416',   8.05  , nan, 'S'),
       ( 980, 3, "O'Donoghue, Ms. Bridget", 'female',   nan, 0, 0, '364856',   7.75  , nan, 'Q'),
       ( 981, 2, 'Wells, Master. Ralph Lester', 'male',  2.  , 1, 1, '29103',  23.    , nan, 'S'),
       ( 982, 3, 'Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)', 'female', 22.  , 1, 0, '347072',  13.9   , nan, 'S'),
       ( 983, 3, 'Pedersen, Mr. Olaf', 'male',   nan, 0, 0, '345498',   7.775 , nan, 'S'),
       ( 984, 1, 'Davidson, Mrs. Thornton (Orian Hays)', 'female', 27.  , 1, 2, 'F.C. 12750',  52.    , 'B71', 'S'),
       ( 985, 3, 'Guest, Mr. Robert', 'male',   nan, 0, 0, '376563',   8.05  , nan, 'S'),
       ( 986, 1, 'Birnbaum, Mr. Jakob', 'male', 25.  , 0, 0, '13905',  26.    , nan, 'C'),
       ( 987, 3, 'Tenglin, Mr. Gunnar Isidor', 'male', 25.  , 0, 0, '350033',   7.7958, nan, 'S'),
       ( 988, 1, 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)', 'female', 76.  , 1, 0, '19877',  78.85  , 'C46', 'S'),
       ( 989, 3, 'Makinen, Mr. Kalle Edvard', 'male', 29.  , 0, 0, 'STON/O 2. 3101268',   7.925 , nan, 'S'),
       ( 990, 3, 'Braf, Miss. Elin Ester Maria', 'female', 20.  , 0, 0, '347471',   7.8542, nan, 'S'),
       ( 991, 3, 'Nancarrow, Mr. William Henry', 'male', 33.  , 0, 0, 'A./5. 3338',   8.05  , nan, 'S'),
       ( 992, 1, 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)', 'female', 43.  , 1, 0, '11778',  55.4417, 'C116', 'C'),
       ( 993, 2, 'Weisz, Mr. Leopold', 'male', 27.  , 1, 0, '228414',  26.    , nan, 'S'),
       ( 994, 3, 'Foley, Mr. William', 'male',   nan, 0, 0, '365235',   7.75  , nan, 'Q'),
       ( 995, 3, 'Johansson Palmquist, Mr. Oskar Leander', 'male', 26.  , 0, 0, '347070',   7.775 , nan, 'S'),
       ( 996, 3, 'Thomas, Mrs. Alexander (Thamine Thelma")"', 'female', 16.  , 1, 1, '2625',   8.5167, nan, 'C'),
       ( 997, 3, 'Holthen, Mr. Johan Martin', 'male', 28.  , 0, 0, 'C 4001',  22.525 , nan, 'S'),
       ( 998, 3, 'Buckley, Mr. Daniel', 'male', 21.  , 0, 0, '330920',   7.8208, nan, 'Q'),
       ( 999, 3, 'Ryan, Mr. Edward', 'male',   nan, 0, 0, '383162',   7.75  , nan, 'Q'),
       (1000, 3, 'Willer, Mr. Aaron (Abi Weller")"', 'male',   nan, 0, 0, '3410',   8.7125, nan, 'S'),
       (1001, 2, 'Swane, Mr. George', 'male', 18.5 , 0, 0, '248734',  13.    , 'F', 'S'),
       (1002, 2, 'Stanton, Mr. Samuel Ward', 'male', 41.  , 0, 0, '237734',  15.0458, nan, 'C'),
       (1003, 3, 'Shine, Miss. Ellen Natalia', 'female',   nan, 0, 0, '330968',   7.7792, nan, 'Q'),
       (1004, 1, 'Evans, Miss. Edith Corse', 'female', 36.  , 0, 0, 'PC 17531',  31.6792, 'A29', 'C'),
       (1005, 3, 'Buckley, Miss. Katherine', 'female', 18.5 , 0, 0, '329944',   7.2833, nan, 'Q'),
       (1006, 1, 'Straus, Mrs. Isidor (Rosalie Ida Blun)', 'female', 63.  , 1, 0, 'PC 17483', 221.7792, 'C55 C57', 'S'),
       (1007, 3, 'Chronopoulos, Mr. Demetrios', 'male', 18.  , 1, 0, '2680',  14.4542, nan, 'C'),
       (1008, 3, 'Thomas, Mr. John', 'male',   nan, 0, 0, '2681',   6.4375, nan, 'C'),
       (1009, 3, 'Sandstrom, Miss. Beatrice Irene', 'female',  1.  , 1, 1, 'PP 9549',  16.7   , 'G6', 'S'),
       (1010, 1, 'Beattie, Mr. Thomson', 'male', 36.  , 0, 0, '13050',  75.2417, 'C6', 'C'),
       (1011, 2, 'Chapman, Mrs. John Henry (Sara Elizabeth Lawry)', 'female', 29.  , 1, 0, 'SC/AH 29037',  26.    , nan, 'S'),
       (1012, 2, 'Watt, Miss. Bertha J', 'female', 12.  , 0, 0, 'C.A. 33595',  15.75  , nan, 'S'),
       (1013, 3, 'Kiernan, Mr. John', 'male',   nan, 1, 0, '367227',   7.75  , nan, 'Q'),
       (1014, 1, 'Schabert, Mrs. Paul (Emma Mock)', 'female', 35.  , 1, 0, '13236',  57.75  , 'C28', 'C'),
       (1015, 3, 'Carver, Mr. Alfred John', 'male', 28.  , 0, 0, '392095',   7.25  , nan, 'S'),
       (1016, 3, 'Kennedy, Mr. John', 'male',   nan, 0, 0, '368783',   7.75  , nan, 'Q'),
       (1017, 3, 'Cribb, Miss. Laura Alice', 'female', 17.  , 0, 1, '371362',  16.1   , nan, 'S'),
       (1018, 3, 'Brobeck, Mr. Karl Rudolf', 'male', 22.  , 0, 0, '350045',   7.7958, nan, 'S'),
       (1019, 3, 'McCoy, Miss. Alicia', 'female',   nan, 2, 0, '367226',  23.25  , nan, 'Q'),
       (1020, 2, 'Bowenur, Mr. Solomon', 'male', 42.  , 0, 0, '211535',  13.    , nan, 'S'),
       (1021, 3, 'Petersen, Mr. Marius', 'male', 24.  , 0, 0, '342441',   8.05  , nan, 'S'),
       (1022, 3, 'Spinner, Mr. Henry John', 'male', 32.  , 0, 0, 'STON/OQ. 369943',   8.05  , nan, 'S'),
       (1023, 1, 'Gracie, Col. Archibald IV', 'male', 53.  , 0, 0, '113780',  28.5   , 'C51', 'C'),
       (1024, 3, 'Lefebre, Mrs. Frank (Frances)', 'female',   nan, 0, 4, '4133',  25.4667, nan, 'S'),
       (1025, 3, 'Thomas, Mr. Charles P', 'male',   nan, 1, 0, '2621',   6.4375, nan, 'C'),
       (1026, 3, 'Dintcheff, Mr. Valtcho', 'male', 43.  , 0, 0, '349226',   7.8958, nan, 'S'),
       (1027, 3, 'Carlsson, Mr. Carl Robert', 'male', 24.  , 0, 0, '350409',   7.8542, nan, 'S'),
       (1028, 3, 'Zakarian, Mr. Mapriededer', 'male', 26.5 , 0, 0, '2656',   7.225 , nan, 'C'),
       (1029, 2, 'Schmidt, Mr. August', 'male', 26.  , 0, 0, '248659',  13.    , nan, 'S'),
       (1030, 3, 'Drapkin, Miss. Jennie', 'female', 23.  , 0, 0, 'SOTON/OQ 392083',   8.05  , nan, 'S'),
       (1031, 3, 'Goodwin, Mr. Charles Frederick', 'male', 40.  , 1, 6, 'CA 2144',  46.9   , nan, 'S'),
       (1032, 3, 'Goodwin, Miss. Jessie Allis', 'female', 10.  , 5, 2, 'CA 2144',  46.9   , nan, 'S'),
       (1033, 1, 'Daniels, Miss. Sarah', 'female', 33.  , 0, 0, '113781', 151.55  , nan, 'S'),
       (1034, 1, 'Ryerson, Mr. Arthur Larned', 'male', 61.  , 1, 3, 'PC 17608', 262.375 , 'B57 B59 B63 B66', 'C'),
       (1035, 2, 'Beauchamp, Mr. Henry James', 'male', 28.  , 0, 0, '244358',  26.    , nan, 'S'),
       (1036, 1, 'Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey")"', 'male', 42.  , 0, 0, '17475',  26.55  , nan, 'S'),
       (1037, 3, 'Vander Planke, Mr. Julius', 'male', 31.  , 3, 0, '345763',  18.    , nan, 'S'),
       (1038, 1, 'Hilliard, Mr. Herbert Henry', 'male',   nan, 0, 0, '17463',  51.8625, 'E46', 'S'),
       (1039, 3, 'Davies, Mr. Evan', 'male', 22.  , 0, 0, 'SC/A4 23568',   8.05  , nan, 'S'),
       (1040, 1, 'Crafton, Mr. John Bertram', 'male',   nan, 0, 0, '113791',  26.55  , nan, 'S'),
       (1041, 2, 'Lahtinen, Rev. William', 'male', 30.  , 1, 1, '250651',  26.    , nan, 'S'),
       (1042, 1, 'Earnshaw, Mrs. Boulton (Olive Potter)', 'female', 23.  , 0, 1, '11767',  83.1583, 'C54', 'C'),
       (1043, 3, 'Matinoff, Mr. Nicola', 'male',   nan, 0, 0, '349255',   7.8958, nan, 'C'),
       (1044, 3, 'Storey, Mr. Thomas', 'male', 60.5 , 0, 0, '3701',      nan, nan, 'S'),
       (1045, 3, 'Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)', 'female', 36.  , 0, 2, '350405',  12.1833, nan, 'S'),
       (1046, 3, 'Asplund, Master. Filip Oscar', 'male', 13.  , 4, 2, '347077',  31.3875, nan, 'S'),
       (1047, 3, 'Duquemin, Mr. Joseph', 'male', 24.  , 0, 0, 'S.O./P.P. 752',   7.55  , nan, 'S'),
       (1048, 1, 'Bird, Miss. Ellen', 'female', 29.  , 0, 0, 'PC 17483', 221.7792, 'C97', 'S'),
       (1049, 3, 'Lundin, Miss. Olga Elida', 'female', 23.  , 0, 0, '347469',   7.8542, nan, 'S'),
       (1050, 1, 'Borebank, Mr. John James', 'male', 42.  , 0, 0, '110489',  26.55  , 'D22', 'S'),
       (1051, 3, 'Peacock, Mrs. Benjamin (Edith Nile)', 'female', 26.  , 0, 2, 'SOTON/O.Q. 3101315',  13.775 , nan, 'S'),
       (1052, 3, 'Smyth, Miss. Julia', 'female',   nan, 0, 0, '335432',   7.7333, nan, 'Q'),
       (1053, 3, 'Touma, Master. Georges Youssef', 'male',  7.  , 1, 1, '2650',  15.2458, nan, 'C'),
       (1054, 2, 'Wright, Miss. Marion', 'female', 26.  , 0, 0, '220844',  13.5   , nan, 'S'),
       (1055, 3, 'Pearce, Mr. Ernest', 'male',   nan, 0, 0, '343271',   7.    , nan, 'S'),
       (1056, 2, 'Peruschitz, Rev. Joseph Maria', 'male', 41.  , 0, 0, '237393',  13.    , nan, 'S'),
       (1057, 3, 'Kink-Heilmann, Mrs. Anton (Luise Heilmann)', 'female', 26.  , 1, 1, '315153',  22.025 , nan, 'S'),
       (1058, 1, 'Brandeis, Mr. Emil', 'male', 48.  , 0, 0, 'PC 17591',  50.4958, 'B10', 'C'),
       (1059, 3, 'Ford, Mr. Edward Watson', 'male', 18.  , 2, 2, 'W./C. 6608',  34.375 , nan, 'S'),
       (1060, 1, 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)', 'female',   nan, 0, 0, '17770',  27.7208, nan, 'C'),
       (1061, 3, 'Hellstrom, Miss. Hilda Maria', 'female', 22.  , 0, 0, '7548',   8.9625, nan, 'S'),
       (1062, 3, 'Lithman, Mr. Simon', 'male',   nan, 0, 0, 'S.O./P.P. 251',   7.55  , nan, 'S'),
       (1063, 3, 'Zakarian, Mr. Ortin', 'male', 27.  , 0, 0, '2670',   7.225 , nan, 'C'),
       (1064, 3, 'Dyker, Mr. Adolf Fredrik', 'male', 23.  , 1, 0, '347072',  13.9   , nan, 'S'),
       (1065, 3, 'Torfa, Mr. Assad', 'male',   nan, 0, 0, '2673',   7.2292, nan, 'C'),
       (1066, 3, 'Asplund, Mr. Carl Oscar Vilhelm Gustafsson', 'male', 40.  , 1, 5, '347077',  31.3875, nan, 'S'),
       (1067, 2, 'Brown, Miss. Edith Eileen', 'female', 15.  , 0, 2, '29750',  39.    , nan, 'S'),
       (1068, 2, 'Sincock, Miss. Maude', 'female', 20.  , 0, 0, 'C.A. 33112',  36.75  , nan, 'S'),
       (1069, 1, 'Stengel, Mr. Charles Emil Henry', 'male', 54.  , 1, 0, '11778',  55.4417, 'C116', 'C'),
       (1070, 2, 'Becker, Mrs. Allen Oliver (Nellie E Baumgardner)', 'female', 36.  , 0, 3, '230136',  39.    , 'F4', 'S'),
       (1071, 1, 'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)', 'female', 64.  , 0, 2, 'PC 17756',  83.1583, 'E45', 'C'),
       (1072, 2, 'McCrie, Mr. James Matthew', 'male', 30.  , 0, 0, '233478',  13.    , nan, 'S'),
       (1073, 1, 'Compton, Mr. Alexander Taylor Jr', 'male', 37.  , 1, 1, 'PC 17756',  83.1583, 'E52', 'C'),
       (1074, 1, 'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)', 'female', 18.  , 1, 0, '113773',  53.1   , 'D30', 'S'),
       (1075, 3, 'Lane, Mr. Patrick', 'male',   nan, 0, 0, '7935',   7.75  , nan, 'Q'),
       (1076, 1, 'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)', 'female', 27.  , 1, 1, 'PC 17558', 247.5208, 'B58 B60', 'C'),
       (1077, 2, 'Maybery, Mr. Frank Hubert', 'male', 40.  , 0, 0, '239059',  16.    , nan, 'S'),
       (1078, 2, 'Phillips, Miss. Alice Frances Louisa', 'female', 21.  , 0, 1, 'S.O./P.P. 2',  21.    , nan, 'S'),
       (1079, 3, 'Davies, Mr. Joseph', 'male', 17.  , 2, 0, 'A/4 48873',   8.05  , nan, 'S'),
       (1080, 3, 'Sage, Miss. Ada', 'female',   nan, 8, 2, 'CA. 2343',  69.55  , nan, 'S'),
       (1081, 2, 'Veal, Mr. James', 'male', 40.  , 0, 0, '28221',  13.    , nan, 'S'),
       (1082, 2, 'Angle, Mr. William A', 'male', 34.  , 1, 0, '226875',  26.    , nan, 'S'),
       (1083, 1, 'Salomon, Mr. Abraham L', 'male',   nan, 0, 0, '111163',  26.    , nan, 'S'),
       (1084, 3, 'van Billiard, Master. Walter John', 'male', 11.5 , 1, 1, 'A/5. 851',  14.5   , nan, 'S'),
       (1085, 2, 'Lingane, Mr. John', 'male', 61.  , 0, 0, '235509',  12.35  , nan, 'Q'),

Explore the data

In [55]:
for col in a.dtype.names:
    if np.count_nonzero(a[col] == np.nan):
        print col

In [58]:
nanexample = a[a['PassengerId'] == 924]
nanexample

array([(924, 3, 'Dean, Mrs. Bertram (Eva Georgetta Light)', 'female', 33., 1, 2, 'C.A. 2315', 20.575, nan, 'S')],
      dtype=[('PassengerId', '<i8'), ('Pclass', '<i8'), ('Name', 'O'), ('Sex', 'O'), ('Age', '<f8'), ('SibSp', '<i8'), ('Parch', '<i8'), ('Ticket', 'O'), ('Fare', '<f8'), ('Cabin', 'O'), ('Embarked', 'O')])

In [64]:
np.isnan(nanexample['Cabin'][0])

True